/* Global Styles */
:root {
    --primary-teal: #009bb3;
    --dark-teal: #124047;
    --medium-teal: #8edfeb;
    --light-teal: #e4faff;
    --logo-red: #de3a3d;
}

body {
    min-height: 100vh;
    background-color: var(--light-teal);
}

main {
    width: min(100%, 1000px);
    margin-inline: auto;
    background-color: #fff;
    padding-bottom: 120px;
    min-height: 100vh;
}

a {
    color: inherit;
}

.card {
    max-width: 800px;
    margin-inline: auto;
    margin-left: auto;
    margin-right: auto;
}

.banner {
    background-color: var(--light-teal);
    border: 20px solid var(--primary-teal);
}

.compass {
    width: 4rem;
}

.btn {
    --bs-btn-color: var(--dark-teal);
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 3px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: var(--bs-border-radius);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-border-color: var(--dark-teal);
    --bs-btn-disabled-border-color: var(--dark-teal);
}

.material-icons {
    color: var(--dark-teal);
}

.btn-info:not(:hover, :focus, :active, :disabled) .material-icons {
    color: #fff;
}

.btn-info {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--primary-teal);
    --bs-btn-border-color: var(--primary-teal);
    --bs-btn-hover-color: var(--dark-teal);
    --bs-btn-hover-bg: var(--light-teal);
    --bs-btn-hover-border-color: var(--primary-teal);
    --bs-btn-focus-shadow-rgb: 11, 172, 204;
    --bs-btn-active-color: var(--dark-teal);
    --bs-btn-active-bg: var(--light-teal);
    --bs-btn-active-border-color: var(--primary-teal);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--dark-teal);
    --bs-btn-disabled-bg: var(--medium-teal);
    --bs-btn-disabled-border-color: var(--primary-teal);
    border-width: 3px;
}

/* Header Styles */

header {
    position: sticky;
}

.navbar {
    flex-wrap: nowrap;
}

.btn-group .dropdown-toggle.account::after {
    display: none;
}

.account {
    padding-inline: 0;
}

.account .material-icons {
    font-size: 48px;
}

.account-wrapper {
    margin-left: auto;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.compass-logo {
    max-width: 3rem;
    /* margin-inline-end: 12px; */
}
/* Footer Styles */

.bottom-bar {
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0 8px;
    background-color: white;
}

.bottom-bar {
    border-top: 2px solid var(--bs-border-color-translucent);
    position: fixed;
}

.bottom-nav {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0;
    margin-block-start: 12px;
}

.bottom-bar {
    color: rgba(var(--bs-emphasis-color-rgb), 0.8);
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.bottom-bar .material-icons {
    margin-inline: auto;
    font-size: 48px;
}

@media screen and (min-width: 992px) {
    .bottom-bar {
        display: none;
    }

    .navbar {
        padding: 0;
    }

    .compass-logo {
        max-width: 3rem;
        margin-inline-end: 12px;
    }

    .account {
        padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    }
}
