/* Global Styles */

a {
    color: inherit;
}

.card {
    max-width: 1000px;
}

/* Header Styeles */

.btn-group .dropdown-toggle.account::after {
    display: none;
}

/* Footer Styles */

.bottom-bar-placeholder,
.bottom-bar {
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0 8px 4px;
    background-color: white;
}

.bottom-bar {
    border-top: 2px solid var(--bs-border-color-translucent);
    position: fixed;
}

.bottom-nav {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0;
    margin-block: 12px;
}

.bottom-bar a,
.bottom-bar-placeholder a {
    color: rgba(var(--bs-emphasis-color-rgb), 0.8);
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.bottom-bar .material-icons,
.bottom-bar-placeholder .material-icons {
    margin-inline: auto;
    font-size: 58px;
}

.bottom-bar-placeholder {
    color: white;
}

@media screen and (min-width: 992px) {
    .bottom-bar,
    .bottom-bar-placeholder {
        display: none;
    }
}
